<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.brandnewengine.datausage"
    version="0.2.10">
    <name>Datausage</name>
    <description>Cordova Datausage Plugin</description>
    <license>MIT</license>
    
    <repo>https://github.com/craiggeiger/com.brandnewengine.com.datausage</repo>


    <js-module src="www/datausage.js" name="datausage">
        <clobbers target="datausage" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Datausage" >
                <param name="android-package" value="com.brandnewengine.com.Datausage"/>
            </feature>
        </config-file>

        <source-file src="src/android/Datausage.java" target-dir="src/com/brandnewengine/datausage" />
    </platform>

</plugin>
